name: Run tests
on:
  workflow_dispatch:
  pull_request_target:
    types: [ assigned, opened, synchronize, reopened ]

jobs:
  merge:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run test
      env:
        OPN_API_SECRET: ${{ secrets.OPN_API_SECRET }}
      run: |
        export OPN_API_KEY="qhqXZADwz+qGt2cnWzycqtp+FnLdqT7kEXwDo83YovmedfPqX8Ono/ArdjYOFTlWKB3B8Ljwz2VQ99gx"
        export OPN_API_HOST="192.168.3.20"
        export OPN_API_CA_CONTENT="LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMekNDQXhlZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBRENCaWpFTE1Ba0dBMVVFQmhNQ1ZWTXgKRVRBUEJnTlZCQWdNQ0Vsc2JHbHViMmx6TVJZd0ZBWURWUVFIREExQ2RXWm1ZV3h2SUVkeWIzWmxNUkV3RHdZRApWUVFLREFoVWRYSnVZbkp2Y3pFaU1DQUdDU3FHU0liM0RRRUpBUllUWkhsc1lXNTBkWEp1UUdkdFlXbHNMbU52CmJURVpNQmNHQTFVRUF3d1FhVzUwWlhKdVlXd3RkR1Z6ZEMxallUQWVGdzB5TXpBeU1UTXhOelF4TURsYUZ3MHkKTlRBMU1UZ3hOelF4TURsYU1JR0tNUXN3Q1FZRFZRUUdFd0pWVXpFUk1BOEdBMVVFQ0F3SVNXeHNhVzV2YVhNeApGakFVQmdOVkJBY01EVUoxWm1aaGJHOGdSM0p2ZG1VeEVUQVBCZ05WQkFvTUNGUjFjbTVpY205ek1TSXdJQVlKCktvWklodmNOQVFrQkZoTmtlV3hoYm5SMWNtNUFaMjFoYVd3dVkyOXRNUmt3RndZRFZRUUREQkJwYm5SbGNtNWgKYkMxMFpYTjBMV05oTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUEyWTVrTVh1Qgo5a1QwaTNMem9FNWgyNjBGVnNZOGd4VEd2OUpVRTdJY2xwM24wY3dBSzBDMGhSYWVrd1I3MUhLVVdzK3pFaHdhCmlVNGlkc3pyK1pQak5BTVRWamkyRFF3NGF6eXZLS3grKzg5Y21HaUMzaHkzMXcwVExhakY4UFFnNUJHL2dVbHUKYnFxZGJXSi8yZFlMRmlwM0JjUXR6TndOSFFxY2VlSnkxdnFYdmtPaEwvKzE0c28wYncvUzdzTzBmdGtqUExKYgp3K3VGQ1oyNE5DdXNHNENQMnN6L3NER0JRMzhUQjlIMWtrQjYrTm9iYnhTWkRZRFRwTVRndHQ0RWtmbnlLa3FICjBneXJteEIyeW9ZNWkxUzNuSGxQV0d6KzdTU1NvQURYbnRWSDY5VGp2Z29UZnhlTVZmejN6WXpLTGVQWTNZY3cKVEtPbTNNT2Y3ck9aNVFJREFRQUJvNEdkTUlHYU1EY0dDV0NHU0FHRytFSUJEUVFxRmloUFVFNXpaVzV6WlNCSApaVzVsY21GMFpXUWdRMlZ5ZEdsbWFXTmhkR1VnUVhWMGFHOXlhWFI1TUIwR0ExVWREZ1FXQkJRQTBMeCt3Qnl4CkxISWlScURsQ3pBK05GZkwyVEFmQmdOVkhTTUVHREFXZ0JRQTBMeCt3Qnl4TEhJaVJxRGxDekErTkZmTDJUQVAKQmdOVkhSTUJBZjhFQlRBREFRSC9NQTRHQTFVZER3RUIvd1FFQXdJQmhqQU5CZ2txaGtpRzl3MEJBUXNGQUFPQwpBUUVBcm0wdVFVWXdjYlBYVUxlOTdaVUpFS1h3b0FRanBCWGJtQzl5ZjFaaDRiNlBzUzFmTzkya0lBd1lvK2FlCmVMZHdhdzcxTllBWHVjM05ya1NRQzAwQkp2Q0JJdFhNVnN2KzZ6a1hUWU1FWnBTVEQxSExrZi9COTJpTG1taEYKWWk0dTFpZVpScEc0aEdzK2NaY3pUK1FVbElRSHcvRUZvRkQyMHMxRGY5eTdVZFJVbzN4d2VJRkJrS0ErUlhXeApHTCtNS1dta1lDLzNYaDJCUEpjVG84V0FWUWY5a2c2Rm9nYXhhbWlqQlhsSTEyZXR1eXczMDlFZERhM1ZBazVuClZTTFBkZENUZmd3MVEycmtoVnhENWE3b1ZqTExtcHpadXM0SEkxc2MvWWxxRzhTdDhYdHAyYi9hZmdHNStWOWQKbFFna2tMV2dEMUEybEdpZkc4Smh4MnJnOXc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
        export TEST_ALIAS="turnbull.local"
        export TEST_DOMAIN="turnbull.tools"
        export TEST_DOMAIN_IP="10.255.255.255"
        pytest